<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="{{ site.base-url }}/">Home</a></li>
<li><a href="{{ site.base-url }}/about">About</a></li>
<li><a href="{{ site.base-url }}/cv">CV</a></li>
<li><a href="{{ site.base-url }}/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
  </footer>
  </body>

</html>
